/Zilon.Client/Assets/Plugins
/Zilon.Client/Assets/db.bytes
/Zilon.Client/Assets/db.bytes.meta
/Zilon.Client/Packages
/Zilon.Core/*.leu
/Builds/x64
/Builds/x86
/Zilon.Client/Assets/Resources/Schemes/**/*.meta
/BenchmarkDotNet.Artifacts
/Zilon.Client/Assets/Resources/Tutorial/page1.jpg.meta
/Zilon.Client/Assets/Resources/Tutorial/page2.jpg.meta
/Zilon.Client/Assets/Resources/Tutorial/page3.jpg.meta
/Zilon.Client/Assets/Resources/Tutorial/page4.jpg.meta
/Zilon.Client/Assets/Resources/Tutorial/page5.jpg.meta
