<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <CodeSnippet Format="1.0.0">
        <Header>
            <Title>Exclude From Code Coverage</Title>
        </Header>
        <Snippet>
            <Code Language="CSharp">
                <![CDATA[[System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverage]]]>
            </Code>
        </Snippet>
    </CodeSnippet>
</CodeSnippets>