<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.3.1" targetFramework="net46" />
  <package id="FluentAssertions" version="5.4.1" targetFramework="net46" />
  <package id="JetBrains.Annotations" version="2018.2.1" targetFramework="net46" />
  <package id="LightInject" version="5.1.6" targetFramework="net46" />
  <package id="Moq" version="4.9.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net46" />
  <package id="NUnit" version="3.10.1" targetFramework="net46" />
  <package id="NUnit.Console" version="3.8.0" targetFramework="net46" />
  <package id="NUnit.ConsoleRunner" version="3.8.0" targetFramework="net46" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.6.0" targetFramework="net46" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.7.0" targetFramework="net46" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.6.0" targetFramework="net46" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.4" targetFramework="net46" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.7.0" targetFramework="net46" />
  <package id="NUnit.Runners" version="3.8.0" targetFramework="net46" />
  <package id="SpecFlow" version="2.4.0-preview20180814" targetFramework="net46" />
  <package id="SpecFlow.NUnit" version="2.4.0-preview20180814" targetFramework="net46" />
  <package id="SpecFlow.NUnit.Runners" version="2.4.0-preview20180814" targetFramework="net46" />
  <package id="SpecRun.Runner" version="1.8.0-rc003" targetFramework="net46" />
  <package id="SpecRun.SpecFlow" version="1.8.0-rc003" targetFramework="net46" />
  <package id="SpecRun.SpecFlow.2-3-0" version="1.8.0-rc003" targetFramework="net46" />
  <package id="SpecRun.SpecFlow.2-4-0" version="1.8.0-rc003" targetFramework="net46" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net46" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net46" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net46" />
  <package id="TeamCity.SpecFlow.Reporting" version="1.3.7" targetFramework="net46" />
</packages>