name: Benchmarks

on:
   push:
    branches:
      - benchs-net5

jobs:
  buildCore:
    name: Run benchs
    runs-on: ubuntu-latest
    strategy:
      matrix:
        bench_project:
          - Zilon.Core.Benchmarks.Gameplay
          - Zilon.Core.Benchmarks.Fow
          - Zilon.Core.Benchmarks.CreateSector
        include:
          - bench_project: Zilon.Core.Benchmarks.Gameplay
            bench_filter: GamePlayBench
          - bench_project: Zilon.Core.Benchmarks.Fow
            bench_filter: FowDataBench
          - bench_project: Zilon.Core.Benchmarks.CreateSector
            bench_filter: CreateCellularAutomatonSectorBench
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '5.0.100'
      - name: Run DotNetBenchmark ${{ matrix.bench_project }}
        env:
          ZILON_LIV_SCHEME_CATALOG: /home/runner/work/Zilon_Roguelike/Zilon_Roguelike/Zilon.Client/Assets/Resources/Schemes
          DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
          DOTNET_CLI_TELEMETRY_OUTPUT: 1
        run: dotnet run --project Zilon.Core/${{ matrix.bench_project }}/${{ matrix.bench_project }}.csproj --configuration Release --filter *${{ matrix.bench_filter }}*
      - uses: actions/upload-artifact@v1
        with:
          name: benchs
          path: BenchmarkDotNet.Artifacts/results