name: Test using Bots

on:
  pull_request:
    branches:
      - master
    tags:
      - 'v*.*.*'
  push:
    branches:
      - master
      - fix-unstable-code-coverage
    tags:
      - 'v*.*.*'

env:
  TEST_RESULT_PATH: /home/runner/work/Zilon_Roguelike/Zilon_Roguelike/TestResults/
  REPORT_RESULT_PATH: /home/runner/work/ReportResult/

jobs:

  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        configuration:
          - Release
          - Debug
        test_suite:
          - Zilon.Core.DevelopmentTests
        report_format:
          - Html

    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '5.0.201'

    - name: Run ${{ matrix.test_suite }} in ${{ matrix.configuration }}
      env:
        ZILON_LIV_SCHEME_CATALOG: /home/runner/work/Zilon_Roguelike/Zilon_Roguelike/Zilon.Client/Assets/Resources/Schemes
        DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
        DOTNET_CLI_TELEMETRY_OUTPUT: 1
      run: |
        cd ./Zilon.Core
        dotnet test ${{ matrix.test_suite }}/${{ matrix.test_suite }}.csproj --configuration ${{ matrix.configuration }}