name: Code Linter

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - master

env:
  WORKING_DIRECTORY: CDT.LIV.Game

jobs:
  # Set the job key. The key is displayed as the job name
  # when a job name is not provided
  dotnet-format-lint:
    # Name the Job
    name: Clean up C# code base via dotnet-format
    # Set the type of machine to run on
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ${{ env.WORKING_DIRECTORY }}

    strategy:
      matrix:
        solution:
        - CDT.LIV.Game
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      
      - name: Checkout submodules
        uses: textbook/git-checkout-submodule-action@v2.1.1
        with:
          remote: true
      
      - run: dotnet tool install --global dotnet-format --version 5.0.211103
      - name: Format codebase ${{ matrix.solution }}
        run: dotnet-format ${{ matrix.solution }}.sln --fix-whitespace --fix-style --verbosity detailed
      - name: Commit changes
        uses: EndBug/add-and-commit@v5
        with:
          message: "[Bot] Automated dotnet-format update"
          add: "*.cs"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  # Set the job key. The key is displayed as the job name
  # when a job name is not provided
  resharper-lint:
    # Name the Job
    name: Clean up C# code base via R# CLT
    # Set the type of machine to run on
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ${{ env.WORKING_DIRECTORY }}

    needs: [dotnet-format-lint]

    strategy:
      matrix:
        solution:
        - CDT.LIV.Game
      fail-fast: false

    steps:
      - uses: actions/checkout@v2
      
      - name: Checkout submodules
        uses: textbook/git-checkout-submodule-action@v2.1.1
        with:
          remote: true
      
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '5.0.100'
      - name: Setup ReSharper Command Line Tools
        run: dotnet tool install --global JetBrains.ReSharper.GlobalTools --version 2021.1.2
      - name: Clean up codebase via ReSharper Command Line Tools
        run: jb cleanupcode --profile="Full Cleanup" ${{ matrix.solution }}.sln
      - name: Commit changes
        uses: EndBug/add-and-commit@v5
        with:
          message: "[Bot] Automated ReSharper CLT update"
          add: "*.cs"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}