name: SonarCloud

on:
  # Trigger analysis when pushing in master or pull requests, and when creating
  # a pull request.
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
env:
    SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: sonarscan-dotnet
        uses: highbyte/sonarscan-dotnet@v2.1.1-beta
        with:
          # The key of the SonarQube project
          sonarProjectKey: kreghek_Zilon_Roguelike
          # The name of the SonarQube project
          sonarProjectName:  Zilon Roguelike
          # The name of the SonarQube organization in SonarCloud. For hosted SonarQube, skip this setting.
          sonarOrganization: kreghek
          dotnetBuildArguments: ./Zilon.Core/Zilon.Core.sln
          dotnetDisableTests: true